services:
  devcontainer:
    build: .
    working_dir: /opt/app
    volumes:
      - type: bind
        source: .
        target: /opt/app
    environment:
      - TZ=${ENV_TZ:-UTC}
    env_file: .env
    command: ${COMPOSE_COMMAND:-bash}
    ports:
      - "127.0.0.1:4321:4321"
