services:
  busybox:
    image: busybox
    working_dir: /opt/app
    volumes:
      - type: bind
        source: .
        target: /opt/app

  # https://docs.docker.com/reference/compose-file/build/#using-build-and-image
  base: &base
    build: .
    image: localhost:5000/3musketeers-devcontainer:local
    pull_policy: never

  # WRANGLER_SEND_METRICS is set to a value otherwise deploying will be asked if we want to send metrics which is not good when automating
  ci: &ci
    image: localhost:5000/3musketeers-devcontainer:local
    depends_on:
      - base
    working_dir: /opt/app
    volumes:
      - type: bind
        source: .
        target: /opt/app
      - type: volume
        source: node_modules
        target: /opt/app/node_modules
      - type: volume
        source: vendor
        target: /opt/app/vendor
    environment:
      - TZ=${ENV_TZ:-UTC}
      - CLOUDFLARE_ACCOUNT_ID=${ENV_SECRET_CLOUDFLARE_ACCOUNT_ID:-""}
      - CLOUDFLARE_API_TOKEN=${ENV_SECRET_CLOUDFLARE_API_TOKEN:-""}
      - WRANGLER_SEND_METRICS=false
      - ASTRO_TELEMETRY_DISABLED=1
    env_file: ${ENVFILE}
    command: ${COMPOSE_COMMAND:-bash}

  # Service `dev` is for local development and not on a CI/CD where there could be port conflict
  dev:
    <<: *ci
    ports:
      - "127.0.0.1:4321:4321"

# "Volumes are ideal for performance-critical data processing and long-term storage needs." https://docs.docker.com/engine/storage/
volumes:
  node_modules:
  vendor:
