{{- $profileImage := resources.Get "img/logo.jpg" -}}
<!-- facebook open graph tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:title" content="3 Musketeers"/>
<meta property="og:description" content="Test, build, and deploy your apps from anywhere, the same way!"/>
<meta property="og:site_name" content="3musketeers.io"/>
<meta property="og:image" content="{{ $profileImage.Permalink }}"/>

<!-- twitter card tags additive with the og: tags -->
<!-- <meta name="twitter:card" content="summary_large_image"> -->
<meta name="twitter:domain" value="3musketeers.io" />
<meta name="twitter:title" value="3 Musketeers" />
<meta name="twitter:description" value="Test, build, and deploy your apps from anywhere, the same way!" />
<meta name="twitter:image" content="{{ $profileImage.Permalink }}"/>
<meta name="twitter:url" value="{{ .Permalink }}" />
