header.navbar
  background-color: $headerBgColor
  .links
    background-color: $headerBgColor
  a
  a:hover
  a.router-link-active
  .site-name
  div.sidebar-button
    color: $headerLinkColor
  div.search-box
    input
      background-color: $searchBoxBgColor
      border: none
      &:focus
        background-color: $searchBoxFocusBgColor