/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;
 @tailwind components;
 @tailwind utilities;

/**
  Style for generated content
  I use purgecss whitelist to not loose the following styles
  https://www.purgecss.com/whitelisting
*/

/* purgecss start ignore */
.generated-content {
  @apply leading-normal;
  @apply text-black-bulma;
  @apply text-justify;
  @apply antialiased;
}

.generated-content a {
  @apply text-grey-darker;
}

.generated-content a:hover {
  @apply text-black;
}

.generated-content h1 {
  @apply text-grey-darkest;
}

.generated-content h2, .generated-content h3, .generated-content h4 {
  @apply mt-8;
  @apply text-grey-darkest;
}

.generated-content p {
  @apply mt-4;
}

.generated-content .highlight {
  @apply mt-4;
}

.generated-content pre {
  @apply overflow-auto;
  @apply p-4;
}

blockquote {
  @apply m-0;
  @apply mt-4;
  @apply p-6;
  @apply bg-white-bulma;
  @apply border-solid;
  @apply border-l-4;
  @apply border-grey;
}

blockquote p {
  @apply m-0 !important;
}

p code {
  @apply border rounded p-1 text-red-light;
}

#TableOfContents ul {
  @apply list-reset;
  @apply border-grey-light border-l;
}
#TableOfContents > ul {
  @apply list-reset;
  @apply border-none !important;
}

/* Make sure first li items don't have margin */
#TableOfContents > ul > li {
  @apply mt-2;
  @apply ml-0 !important;
}

#TableOfContents ul li {
  @apply mt-2;
  @apply ml-6;
}

#TableOfContents ul li a {
  @apply no-underline;
  @apply text-black-bulma;
}

#TableOfContents ul li a:hover {
  @apply underline;
}


/* purgecss end ignore */
