---
import { Icon } from "@astrojs/starlight/components";
---

<footer>
  Built with Starlight
  <Icon name="starlight" />
  and <a href="/about/built-with">more</a>!
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: wrap;
  }

  footer :global(svg) {
    vertical-align: middle;
  }
</style>
