<div class="">
  <div class="has-text-centered">
    <div class="title">What?</div>
  </div>
  <br>
  <p class="has-text-justified">3 Musketeers is a methodology for developing software in a repeatable and consistent manner. It leverages Make as an orchestration
    tool to test, build, run, and deploy applications using Docker and Docker Compose. The Make and Docker/Compose commands
    for each application are maintained as part of the application’s source code and are invoked in the same way whether
    run locally or on a CI/CD server. </p>
</div>
<br>
<div class="has-text-centered">
  <div class="title">Why?</div>
</div>
<br>
<div class="columns">
  <div class="column is-one-third">
    <div class="box">
      <div class="has-text-centered">
        <span class="icon is-large">
          <i class="fab fa-linux fa-2x"></i>
        </span>
        <span class="icon is-large">
          <i class="fab fa-apple fa-2x"></i>
        </span>
        <span class="icon is-large">
          <i class="fab fa-windows fa-2x"></i>
        </span>
      </div>
      <div class="has-text-centered is-size-4">Consistency</div>
      <div class="has-text-justified">
        <p>Run the same commands no matter where you are: Linux, MacOS, Windows, CI/CD tools that supports Docker like Travis CI, CircleCI, and GitLab CI.</p>
      </div>

    </div>
  </div>

  <div class="column is-one-third">
    <div class="box">
      <div class="has-text-centered">
        <span class="icon is-large">
          <i class="fab fa-github fa-2x"></i>
        </span>
        <span class="icon is-large">
          <i class="fab fa-gitlab fa-2x"></i>
        </span>
        <span class="icon is-large">
          <i class="fab fa-bitbucket fa-2x"></i>
        </span>
      </div>
      <div class="has-text-centered is-size-4">Control</div>
      <div class="has-text-justified">
        <p>
          Take control of languages, versions, and tools you need, and version source control your pipelines with your preferred VCS like GitHub and GitLab.
        </p>
      </div>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="box">
      <div class="has-text-centered">
        <span class="icon is-large">
          <i class="fas fa-check-circle fa-2x"></i>
        </span>
      </div>
      <div class="has-text-centered is-size-4">Confidence</div>
      <div class="has-text-justified">
        <p>Test your code and pipelines locally before your CI/CD tool runs it. Feel confident that if it works locally, it will work in your CI/CD server.</p>
      </div>
    </div>
  </div>
</div>