<div class="card">
  <div class="card-header">
    <div class="card-header-title">
      {{ .title }}
    </div>
  </div>
  <div class="card-content">
    {{ .desc }}
  </div>
  <div class="card-footer">
    <a href="{{ .url }} " class="card-footer-item">
      <span>
        {{ if in .url "github.com" }}
        <i class="fab fa-github"></i>
        {{ else if in .url "gitlab.com" }}
        <i class="fab fa-gitlab"></i>
        {{ else if in .url "bitbucket" }}
        <i class="fab fa-bitbucket"></i>
        {{ else }}
        <i class="fas fa-link"></i>
        {{ end }} Source
      </span>
    </a>
  </div>
</div>