<!-- This section is a flex container with vertical orientation -->
<section class="flex flex-col items-center bg-white mt-10">
  <h1 class="font-semibold">
    3 Musketeers
  </h1>
  <p class="font-normal text-xl mt-3 mb-6">
    Test, build, and deploy your apps from anywhere, the same way.
  </p>
  {{ partial "logo" }}
  <a class="mt-10 bg-transparent hover:bg-blue text-blue text-2xl hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded no-underline" href="{{ with .Site.GetPage "/docs/get-started.md" }}{{ .Permalink }}{{ end }}">
    Get Started
  </a>
</section>
