<section class="section hero is-white is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        3 Musketeers
      </h1>
      <h2 class="subtitle">
        Test, build, and deploy your apps from anywhere, the same way.
      </h2>
      <figure>
        {{ partial "logo" }}
      </figure>

      <div>
        <br/>
        <a class="button is-info is-large is-outlined" href="{{ with .Site.GetPage "/docs/get-started.md" }}{{ .Permalink }}{{ end }}">
          Get Started
        </a>
      </div>
    </div>
  </div>
</section>
