<!-- header to be full width flex container that justifies content center -->
<header class="flex justify-center bg-black-light mb-5 antialiased">

  <!-- a flex container to be 4/5 on large screen which is centered because of the flex container above-->
  <nav class="flex w-full flex-wrap md:flex-no-wrap p-6 lg:w-4/5">

    <!-- this flex container has the home and the burger menu -->
    <div class="flex min-w-full items-center mb-3 justify-between md:min-w-0">
      <a class="text-white-dark mr-8 no-underline" href="/">
        <i class="fas fa-home fa-1x"></i>
      </a>

      <!-- Burger menu to be only visible on small screen -->
      <div id="navbar-burger" class="block md:hidden">
        <button class="px-3 py-2 border rounded text-grey border-grey-light hover:text-grey-darker hover:border-grey-darker">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
    </div>

    <!-- menu that will show/hide on a small screen, visible from medium-->
    <div id="nav-show-hide" class="hidden md:flex">
      <!-- menu on small screen to be vertical, horizontal from medium-->
      <div class="flex flex-col flex-wrap md:flex-row">

        {{- range $.Site.Menus.header -}}
        <a class="flex mb-3 items-center text-white-dark mr-6 no-underline hover:underline" href="{{ .URL }}">
          <span>{{ .Title }}</span>
        </a>
        {{- end -}}

        <a class="flex mb-3 items-center text-white-dark mr-6 no-underline hover:underline" href="{{ $.Site.Params.urls.medium }}">
          <i class="fab fa-medium fa-1x mr-2"></i>
          <span>Read</span>
        </a>
        <a class="flex mb-3 items-center text-white-dark no-underline hover:underline" href="{{ $.Site.Params.urls.threeMusketeersRepo }}">
          <i class="flex fab fa-github fa-1x mr-2"></i>
          <span>Source</span>
        </a>

      </div>
    </div>
  </nav>
</header>
