  <!-- header to be full width flex container that justifies content center -->
<!-- reason why it is not part of the parent container is because of the need for the background header to be black the full screen-->
<header class="flex justify-center bg-black-bulma antialiased">

  <!-- a flex container to be 4/5 on large screen which is centered because of the flex container above-->
  <nav class="flex flex-wrap pt-6 pb-6 w-5/6">

    <!-- this flex container has the home and the burger menu -->
    <div class="flex min-w-full items-center justify-between md:min-w-0 md:mb-0">
      <a class="text-white-bulma mr-8 no-underline" href="/">
        <i class="fas fa-home fa-1x"></i>
      </a>

      <!-- Burger menu to be only visible on small screen -->
      <div id="navbar-burger" class="block md:hidden">
        <a class="text-white-bulma" href="#">
          <i class="fas fa-bars fa-1x"></i>
        </a>
      </div>
    </div>

    <!-- menu that will show/hide on a small screen, visible from medium-->
    <div id="nav-show-hide" class="hidden mt-3 md:flex md:mt-0">
      <!-- menu on small screen to be vertical, horizontal from medium-->
      <div class="flex flex-col flex-wrap md:flex-row">

        {{- range $.Site.Menus.header -}}
        <a class="flex mb-3 items-center text-white-bulma mr-6 no-underline hover:underline md:mb-0" href="{{ .URL }}">
          <span>{{ .Title }}</span>
        </a>
        {{- end -}}

        <a class="flex mb-3 items-center text-white-bulma mr-6 no-underline hover:underline md:mb-0" href="{{ $.Site.Params.urls.medium }}">
          <i class="fab fa-medium fa-1x mr-2"></i>
          <span>Read</span>
        </a>
        <a class="flex mb-3 items-center text-white-bulma no-underline hover:underline md:mb-0" href="{{ $.Site.Params.urls.threeMusketeersRepo }}">
          <i class="flex fab fa-github fa-1x mr-2"></i>
          <span>Source</span>
        </a>

      </div>
    </div>
  </nav>
</header>
