# ENV_GIT_REPO_URL looks like https://github.com/flemay/3musketeers.git
# ENV_GIT_TOKEN is a GitHub fine-grained personal access token starting with "github_pat_". It also works with `secrets.GITHUB_TOKEN` for GitHub Actions.
# ENV_PUBLISH_DIR is the dir that is going to be published. It is the full path
# ENV_TZ is the timezone to set for the container. Ex: UTC
ENV_GIT_EMAIL
ENV_GIT_NAME
ENV_GIT_REPO_URL
ENV_GIT_TOKEN
ENV_GIT_USERNAME
ENV_PUBLISH_BRANCH=vhs-demo
ENV_PUBLISH_DIR=/opt/src/output
ENV_TMP_DIR=/tmp
ENV_TZ=UTC
