<div class="mt-10">
  <table>
    <tr>
      <th class="text-center">Example</th>
      <th class="text-center">Description</th>
    </tr>
    {{ range $_, $example := $.Site.Data.examples.example }}
    <tr>
      <td class="p-2">
        <a href="{{ .url }} ">
          <span class="text-black-bulma">
            {{ if in .url "github.com" }}
            <i class="fab fa-github"></i>
            {{ else if in .url "gitlab.com" }}
            <i class="fab fa-gitlab"></i>
            {{ else if in .url "bitbucket" }}
            <i class="fab fa-bitbucket"></i>
            {{ else }}
            <i class="fas fa-link"></i>
            {{ end }}{{- .title -}}
          </span>
        </a>
      </td>
      <td class="p-2">{{ .desc }}</td>
    </tr>
    {{ end }}
  </table>
</div>

