name: Deploy
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/deploy.yml"
      - "astro.config.mjs"
      - "compose.yml"
      - "deno.jsonc"
      - "deno.lock"
      - "Dockerfile"
      - "Makefile"
      - "public"
      - "src/**"
  # schedule:
  #   - cron: "0 6 1 * *"
jobs:
  deploy:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
      - name: Deploy
        run: make ciDeploy
        env:
          ENV_CLOUDFLARE_BRANCH_NAME: ${{ vars.ENV_CLOUDFLARE_BRANCH_NAME }}
          ENV_CLOUDFLARE_PROJECT_NAME: ${{ vars.ENV_CLOUDFLARE_PROJECT_NAME }}
          ENV_SECRET_CLOUDFLARE_ACCOUNT_ID: ${{ secrets.ENV_SECRET_CLOUDFLARE_ACCOUNT_ID }}
          ENV_SECRET_CLOUDFLARE_API_TOKEN: ${{ secrets.ENV_SECRET_CLOUDFLARE_API_TOKEN }}
