name: Test
on:
  pull_request:
    paths-ignore:
      - demo/**
      - diagrams/**
      - "*.drawio"
      - "*.md"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Test
        run: make ciTest
