name: Test
on:
  push:
    branches:
      - deno-starlight
  pull_request:
    paths-ignore:
      - demo/**
      - diagrams/**
      - "*.drawio"
      - "*.md"
jobs:
  test:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
      - name: Test
        run: make ciTest
